<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
      {% set meta = meta|default({})|merge({ og: meta.og|default({}) }) %}
      <title>{{ meta.title }}</title>
      <meta name="description" content="{{ meta.description }}">
      <meta property="og:type" content="{{ meta.og.type|default('website') }}">
      <meta property="og:title" content="{{ meta.og.title|default(meta.title) }}">
      <meta property="og:description" content="{{ meta.og.description|default(meta.description) }}">
      <meta property="og:image" content="{{ meta.og.image }}">
    {% endblock %}
    <link type="image/svg+xml" rel="icon" href="{{ sourcePath }}/assets/images/favicon.svg">
    <link type="text/plain" rel="author" href="{{ publicPath }}/humans.txt">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body class="{{ namespace|default('page') }}">
    {% block top %}{% endblock %}
    {% block header %}{% endblock %}
    <main class="content">
      {% block content %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}
    {% block bottom %}{% endblock %}
    <script type="module" src="{{ sourcePath }}/main.js"></script>
  </body>
</html>