<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
      <title>{{ title }}</title>
    {% endblock %}
    <link type="image/svg+xml" rel="icon" href="{{ assetsPath }}/static/images/favicon.svg">
    <link type="text/plain" rel="author" href="{{ publicPath }}/humans.txt" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body data-barba="wrapper">
    <div id="{{ namespace }}" class="page" data-barba="container" data-barba-namespace="{{ namespace }}">
      {% block header %}{% endblock %}
      <main class="content">
        {% block content %}{% endblock %}
      </main>
      {% block footer %}{% endblock %}
    </div>
    <script type="module" src="{{ assetsPath }}/main.js"></script>
  </body>
</html>